@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* SCROLL WITH NO SCROLL BAR */
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  /* FLOATS */
  .clearfix {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  /* ABSOLUTE POSITION */
  .absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* FLEX */
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#root {
  color: #333;
}

html {
  @media only screen and (max-width: 900px) {
    font-size: 95%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 90%;
  }
}
